extends ../layouts/layout-main.jade

block title
  | Мои работы

block menu
  nav.menu
    ul.menu-list
      li.menu-list__item
        a.menu-list__item-link(href="/") Обо мне
      li.menu-list__item.menu-list__item_active
        a.menu-list__item-link(href="myportfolio.html") Мои работы
      li.menu-list__item
        a.menu-list__item-link(href="/") Связаться со мной
// Основное содержание
block content
  section.profile
    div.profile-header Мои работы
    div.profile-body.clearfix
      div.site-item
        a(href="/", target="_blank").site-picture
          div.site-img-wrapper
            img(src="img/site1.png", alt="Сайт 1")
        a(href="/", target="_blank").site-name www.site.ru
        div.site-descr Информация о проекте 
      div.site-item
        a(href="/", target="_blank").site-picture
          div.site-img-wrapper
            img(src="img/site2.png", alt="Сайт 2")
        a(href="/", target="_blank").site-name www.site.ru
        div.site-descr Инфо о проекте Инфо о проекте Инфо о проекте Инфо о проекте
      div.site-item
        a(href="/", target="_blank").site-picture
          div.site-img-wrapper
            img(src="img/site3.png", alt="Сайт 3")
        div.site-name www.site.ru
        div.site-descr Инфо о проекте 
      div.site-item
        a(href="/", target="_blank").site-picture
          div.site-img-wrapper
            img(src="img/site4.png", alt="Сайт 4")
        div.site-name www.site.ru
        div.site-descr Инфо о проекте 
      div.site-item
        div.addproject-wrapper
          div.addproject Добавить проект

