div.contacts
  div.contacts-head Контакты
  ul.contacts-list
    li.contacts-list__item.email-icon
      a(href="mailto:individual@bk.ru").contacts-list__item-link individual@bk.ru
    li.contacts-list__item.phone-icon
      a(href="tel:+79260000000").contacts-list__item-link +79260000000
    li.contacts-list__item.skype-icon
      a(href="skype:asprentida?chat").contacts-list__item-link asprentida